<% include partials/header %>
		<div class="portfoliocard">
		<div class="coverphoto"></div>
		<div class="profile_picture"></div>
		<div class="left_col">
			<div class="followers">
				<div class="follow_count "><i class="fas fa-phone"></i> <%= contact.phone %></div>
			</div>
			<div class="following">
				<div class="follow_count"><i class="fas fa-building"></i> <%= contact.building %></div>
			</div>
		</div>
		<div class="right_col">
			<h2 class="name"><%= contact.degree %><%= contact.name %></h2>
			<h3 class="location"><%= contact.position %></h3>
			<h3 class="location1"><%= contact.email %></h3>
			<ul class="contact_information">
				<li class=" "> </li>
				<li class="work"><i class="fas fa-desktop"></i> PC<%= contact.PC %></li>
				<li class="phone"><i class="fas fa-sitemap"></i><%= contact.IP %></li>
			</ul>
		</div>
		</div>
<% include partials/footer %>
